 <form action=<%="/restaurante/reservations/#{reservation.id}/update_status"%> method="post">
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    <input type="hidden" name="_method" value="put">
    <input type="hidden" name="new_status" value="<%= new_status %>">
    <button type="submit" class="btn btn-sm btn-<%= btn_class %>"><%= text %></button>
</form>