<% if user_signed_in? %>
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                    <div class="box-header">
                        <h3 class="box-title">Ingrese la fecha que quiere revisar las reservas</h3>
                    </div>
                    <div class="box-body">
                        <div class="input-group text-center" style="text-align: center" >
                            <%=form_tag('/restaurante/show1', method: :get) do%>
                                <%= date_field_tag :date, params[:date], :class => "input-type-date", style: "height:37px", required: true%>
                                <span class="input-group-btn">
                                    <%= submit_tag 'Buscar', name: nil, :class => "btn btn-info btn-flat"%>
                                </span>
                            <%end%>
                        </div>
                    </div>
                </div>
        </div>
    </div>
<%end%>