<section class="content-header">
      <h1>
        Listado de Reservaciones
      </h1>
</section>

<section class="content">
<div class="row">
  <div class="col-xs-12">
    <div class="box">
      <div class="box-header">
        <h3 class="box-title">Reservaciones</h3>
      </div>
      <!-- /.box-header -->
      <div class="box-body">
        <table id="example2" class="table table-bordered table-hover">
          <thead>
          <tr>
            <th>Fecha de Reservacion</th>
            <th>Cantidad de Personas</th>
            <th>Status</th>
            <th>Promocion</th>
            <th>Comensal</th>
            <th></th>
          </tr>
          </thead>
          <tbody>
            <% @reservations.each do |reservation| %>
              <tr>
                <td><%=reservation.reservation_date.to_date unless ! reservation.reservation_date%></td>
                <td><%=reservation.people_num%></td>
                <td><%=reservation.status%></td>
                <td><%=reservation.promo.name%></td>
                <td><%=reservation.diner.full_name%></td>
                <th>
                <% if reservation.pending? %>
                  <%= render "update_status_form", 
                          reservation: reservation, 
                          new_status: "efectuada", 
                          text: "Marcar como Efectuada",
                          btn_class: "success" 
                  %>
          
                  <%= render "update_status_form", 
                          reservation: reservation, 
                          new_status: "noefectuada", 
                          text: "Marcar como No efectuada",
                          btn_class: "danger" 
                  %>     
                <% elsif reservation.used? %>
                  <%= render "update_status_form", 
                        reservation: reservation, 
                        new_status: "pendiente", 
                        text: "Marcar como Pendiente",
                        btn_class: "warning" 
                  %>
              
                  <%= render "update_status_form", 
                        reservation: reservation, 
                        new_status: "noefectuada", 
                        text: "Marcar como No efectuada",
                        btn_class: "danger" 
                   %>     
                <% elsif reservation.not_used? %>
                    <%= render "update_status_form", 
                            reservation: reservation, 
                            new_status: "pendiente", 
                            text: "Marcar como Pendiente",
                            btn_class: "warning" 
                    %>

                    <%= render "update_status_form", 
                      reservation: reservation, 
                      new_status: "efectuada", 
                      text: "Marcar como Efectuada",
                      btn_class: "success" 
                    %>
                <% end %>
                </th>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
      <!-- /.box-body -->
    </div>
    <!-- /.box -->
</section>
