
    <head>
        <title>ERROR</title>
    </head>

    <body>

        <!-- Begin page -->
        <div id="wrapper">
            <div class="content2">
                      
                                <div class="text-center">
                                    <i class="h1 far fa-frown text-muted"></i> <i class=""></i>
                                    <h1 class="mb-3 orange" style ="color: #e09b23">No se obtuvieron resultados para "<%=@search%>"</h1>
                                    <p class="text-muted"> Lo sentimos, no se encontraron  preguntas frecuentes registradas en nuestro sistema bajo su criterio de búsqueda.<br>
                                    Envíenos sus preguntas por e-mail y las responderemos a la brevedad posible<br><br></p>

                                    <%= mail_to 'lapromoucab@gmail.com' do%>
                                    <button type="button" class="btn btn-success waves-effect waves-light mt-2 mr-1" ><i class="fas fa-envelope"></i> Envía un e-mail</button><%end%>
                                    <button type="submit" style="background-color: #b4b2b2; color:black; border-color: #b4b2b2" class="btn btn-info btn-flat waves-effect waves-light mt-2 mr-1" onClick="history.back()">Volver</button>

                                </div>
                            </div>
        </div>
        
    </body>



 

     