
  <h1>Hola, de parte de <%= @diner.name %></h1>

  <p>Recibiste una invitación de tu amigo para disfrutar de la promoción de <%= @comment.reservation.restaurant.name %> que ha estado buenisima.</p>
  <p><%= @comment.reservation.restaurant.name %> es <%= @comment.reservation.restaurant.description %> y actualmente tiene una promocion llamada</p>
  <p></p>
  <p><%= @promo.name %> que es del tipo <%= @promo.promo_type %> y es: <%= @promo.description %></p>
  <p>Tu amigo dejo esta reseña!</p>
  <p>"<%= @comment.description %>" y la califico con <%= @promedio %> </p>

  <p>Puedes saber más de esta promo y sus cambios haciendo click en el siguiente link:</p>

  <p><%= link_to '¡Aprovecha! click aqui y podras ver los detalles del restaurante!!', @url %></p>
  <p><%= link_to '¡Reservar de una vez!', @url %></p>