<%= simple_form_for([:restaurante, @plate], defaults: { input_html: { class: 'form-control' } }) do |f| %>
 
  <div class="form-group col-sm-12 col-md-4 <%= "has-error" if @plate.errors[:name].any? %>">
    <label class="control-label">Nombre del plato</label>
    <%= f.input_field :name, placeholder:'Ejemplo: Pasta al pesto'%>
    <%= f.error :name, class:'help-block' %>
  </div>

  <div class="form-group col-sm-6 col-md-6 <%= "has-error" if @plate.errors[:description].any? %>" >
    <label class="control-label">Descripción del plato</label>      
    <%= f.input_field :description, placeholder:'Ejemplo: Pasta con albahaca y queso parmesano'%>
    <%= f.error :description, class:'help-block' %>
  </div>

  <div class="form-group col-sm-3 <%= "has-error" if @plate.errors[:price].any? %>" >
    <label class="control-label">Precio del plato</label>      
    <%= f.input_field :price, placeholder:'Ejemplo: 180'%>
    <%= f.error :price, class:'help-block' %>
  </div>
     
  <div class="form-group col-sm-3 <%= "has-error" if @plate.errors[:menu_type].any? %>" >    
    <%= f.association :menu_type, :label => "Menú para el plato", placeholder: 'Menú al que pertenece' %>
  </div>

  <div class="box-footer col-sm-12">
    <div class="form-group col-sm-12">
      <button type="submit" class="btn btn-success">Editar plato</button>
      <%= link_to 'Atrás', restaurante_plates_path, :class => 'btn btn-primary' %>
    </div>
  </div>
<% end %>