
  <h1>Hola <%= @diner.name %></h1>

  <p>Hace poco visitaste el restaurante <%= @restaurant.name %> y quisieramos que nos des tu opinion!</p>

  <p>Deja tu calificacion visitando el siguiente link:</p>
  <%= link_to 'Calificar Restaurante',  reservation_comment_url(@reservation.id) %>
