<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- <title>Document</title> -->
</head>
<body>
    <h1>Hola, <%= @diner.name.capitalize! %></h1>

    <p>La siguente reserva ha sido cancelada con exito: </p>

    <p><b>Nombre del restarante:</b> <%= @reserva.restaurant.name %> </p>
    <p><b>Fecha de la reserva:</b> <%= @reserva.reservation_date %></p>
    <p><b>Número de personas:</b> <%= @reserva.people_num %></p>
    <p><b>Promociones:</b> <%= @reserva.promo.description %></p>

</body>

</html>
