¡Hola! <%= @diner.name %> aqui los datos de la reserva: 
=======================================================

Nombre de restaurant: <%= @restaurant.name%>
Direccion de restaurant: <%= @restaurant.address%>

Fecha de la reserva: <%= @reservation.reservation_date%>
Cantidad de personas: <%= @reservation.people_num %>

DISCLAIMER

La Promo hace constatar que el restaurant tiene todo el derecho de cancelar la reserva, asi como también que te comprometes a asistir el día en que has reservado.
Si por alguna razón no puedes asistir puedes cancelar tu reserva desde este link: https://la-promo.herokuapp.com/reservations/cancelar/<%=@reservation.id%>
Si por alguna razon no puedes asistir y no cancelas tu reserva, La Promo se verá en la obligación de tener que penalizarte mediante nuestro sistema de No-shows.