
  <h1>Hola.</h1>

  <p><%= "#{@diner.full_name} te ha invitado a conocer el restaurante #{@restaurant.name}" %></p>

  <h2>Informacion del restaurante</h2>

    <p>Nombre: <%= @restaurant.name %></p>
    <p>Direccion: <%= @restaurant.address %></p>
    <p>Descripcion: <%= @restaurant.description %></p>

    <p>Calificacion promedio cocina: <%= Comment.kitchen_score(@restaurant.id.to_s) %></p>
    <p>Calificacion promedio servicio: <%= Comment.service_score(@restaurant.id.to_s) %></p>
    <p>Calificacion promedio ambiente: <%= Comment.ambient_score(@restaurant.id.to_s) %></p>

    <p><%= "#{@diner.full_name} disfruto de la promocion #{@promo.name}" %></p>

    <p>Te dejamos el link del resturant para que puedas ver mas informacion del restaurantes y sus promociones</p>

  <%= link_to 'Calificar Restaurante',  restaurant_info_url(@restaurant.id) %>
