<%= simple_form_for([:restaurante, @menu_type], defaults: { input_html: { class: 'form-control' } }) do |f| %>

  <div class="form-group col-sm-12 col-md-4 <%= "has-error" if @menu_type.errors[:name].any? %>">
    <label class="control-label">Nombre del menú</label>
    <%= f.input_field :name, placeholder:'Ejemplo: Tradicional'%>
    <%= f.error :name, class:'help-block' %>
  </div>

    <br></br>
      <hr>
        <h3>Platos para el menú</h3>
      <hr>
    <br></br>
 

  <%= f.fields_for :plates do |builder| %>
    <%= render "plate_fields", :f => builder %>
  <% end %>

    
  <div class="box-footer col-sm-12">
    <div class="form-group col-sm-12">
      <button type="submit" class="btn btn-success">Editar menú</button>
      <%= link_to 'Atrás', restaurante_menu_types_path, :class => 'btn btn-primary' %>
    </div>
  </div>

<% end %>