<section class="content-header">
      <h1>
        Administrar tipos de menu
      </h1>
</section>

<section class="content">
<div class="row">
  <div class="col-xs-12">
    <div class="box">
      <div class="box-header">
        <h3 class="box-title">Categorias</h3>
      </div>
      <!-- /.box-header -->
        <div class="box-body">
            <table id="example2" class="table table-bordered table-hover">
              <thead>
                  <tr>
                    <th>Nombre del menú</th>
                    <th>Plato</th>
                  </tr>
              </thead>
          <tbody>
            <% @menu_types.each do |menu_type| %>
              <% if menu_type.restaurant_id == current_user.id  %>
              <tr>
                <td><%= menu_type.name %></td>
                <% @plates.each do |plate| %>
                  <% if plate.menu_type_id == menu_type.id  %>
                    <td><%= plate.name %></td>
                  <% end %>
                <% end %>
                
                <td><center><%= link_to 'Editar', edit_restaurante_menu_type_path(menu_type), :class => 'btn btn-warning' %></center></td>
                <td><%= link_to 'Eliminar', [:restaurante, menu_type], method: :delete, data: { confirm: '¿Estás seguro que deseas eliminarlo?' }, :class => 'btn btn-danger' %></td>
              </tr>
              <% end %>
            <% end %>

          </tbody>
        </table>
        <%= link_to 'Nuevo menu', new_restaurante_menu_type_path, :class => 'btn btn-success' %>
        <%= link_to 'Agrega un plato a tus categorias', new_restaurante_plate_path, :class => 'btn btn-primary' %>
       
      </div>
      <!-- /.box-body -->
    </div>
    <!-- /.box -->
</section>
