<div class="body">
    <div role="main" class="main">
        <section class=" section-1">
            <div class="parallax-settings-guia parallax-bg-guia">
                <div class="thumb-info-wrapper m-0 container2 height-child" >
                    <div class="container height-child">
                        <div class="row my-4 height-child">
                            <div class="col-md-12 align-self-center p-static order-2 text-center"  style="margin-top: 130.1px;" >
                                <h1 class="text-10 py-3 mb-3 text-center text-color-light"><strong>LAPROMO</strong> Guía rápida de usuario</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
		</section>
		<br>
        <br>
        <section class=" section-4">
					<h3 class="text-warning text-center" ><strong> Guía acerca de: </strong></h3>
					<div class="container">
						<div class="accordion" id="accordionExample">
							<div class="card z-depth-0 bordered">
								<button class="btn btn-link btn-primary btn-custom-size" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne" style="text-decoration:none">
									<div class="card-header" id="headingOne">
										<h4 class="mb-0 btn-primary">
										Registrarme en LAPROMO
										</h4>
									</div>
								</button>
								<div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
								data-parent="#accordionExample">
								<div class="card-body">
								<div class="parallax-settings-guia parallax-bg-contenedor">
									<strong>¿No sabes cómo registrarte en LAPROMO?</strong> No te preocupes sigue estos pasos, estamos para ayudarte: <br><br>
									<ul>
									<li>Primero nos ubicamos en la parte superior de la página y debemos hacer click en la sección que dice <strong> Registrarme. </strong> </li> <br>
									<li>Luego nos mostrará por pantalla un formulario, que debemos de completar los campos como el correo electrónico, un nombre de usuario y la contraseña. </li> <br>
									<li>Después de sumistrar los datos, presionamos el botón <strong> Registrar </strong> para poder realizar el registro en LAPROMO. </li> <br>
									<li>De allí el sistema LAPROMO nos indicará que debemos revisar la bandeja del correo electrónico <strong> (el correo que colocamos en el formulario) </strong> para confirmar nuestra cuenta. </li> <br>
									<li>Y una vez confirmada la cuenta, podemos acceder a LAPROMO ubicando en la parte superior de la página web, haciendo click en la sección <strong> Iniciar Sesión. </strong> </li> <br>
									<li>También podemos iniciar sesión en la <strong> aplicación móvil de LAPROMO, </strong> con nuestra cuenta creada en la página web. </li>
									</ul>						
								</div>
								</div>
                            </div>
							<div class="card z-depth-0 bordered">
								<button class="btn btn-link btn-primary btn-custom-size collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo" style="text-decoration:none">
									<div class="card-header" id="headingTwo">
										<h4 class="mb-0 btn-primary">
										Mis Datos Personales
										</h4>
									</div>
								</button>
								<div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
								<div class="card-body">
								<div class="parallax-settings-guia parallax-bg-contenedor">
									<strong>Para realizar una reservación en un restaurante, es necesario registrar nuestros datos personales en la cuenta recién creada: </strong> <br><br>
									<ul>
									<li>Primeramente debemos iniciar sesión en LAPROMO <strong> (en caso contrario, omitimos este paso) </strong>, para ello nos ubicamos en la parte superior de la página web, de allí debemos hacer click en la sección <strong> Iniciar Sesión </strong> y de allí colocamos nuestro correo y contraseña para entrar en LAPROMO.</li> <br>
									<li>Luego de iniciar sesión en LAPROMO, nos ubicamos en la parte superior de la página, de allí pasamos el cursor (la flechita) en donde dice <strong> Mi cuenta </strong> y nos aparecerá una lista de opciones, hacemos click en la opción <strong> Datos personales. </strong> </li> <br>
									<li>Después se nos muestra un formulario, en el cual vamos a suministrar datos como el nombre, fecha de nacimiento, cédula, télefono, entre otros. </li> <br>
									<li>Por último, una vez completemos todos los campos requeridos, presionamos el botón <strong> Actualizar </strong> para guardar los cambios de nuestra cuenta y ahora si podemos realizar una reservación en un restaurante. </li> 
									</ul>
								</div>
								</div>
							</div>
							<div class="card z-depth-0 bordered">
								<button class="btn btn-link btn-primary btn-custom-size collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree" style="text-decoration:none">
									<div class="card-header" id="headingThree">
										<h4 class="mb-0 btn-primary">
										Mi primera reservación
										</h4>
									</div>
								</button>
								<div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
								<div class="card-body">
								<div class="parallax-settings-guia parallax-bg-contenedor">
									<strong>Llegó el momento de realizar la primera reservación: </strong> <br><br>
									<ul>
									<li>Antes que nada tenemos que iniciar sesión en LA PROMO, bien sea en la página web o en la aplicación móvil. </li> <br>
									<li>Una vez iniciemos sesión:
										<ul>
										<li>Para el caso de la página web nos dirigimos en la parte superior de la página y hacemos click en la sección <strong> Home </strong> para buscar una de las imágenes que contiene el nombre del estado y hacemos click en una de las imagenes. </li>
										<li>En el caso de la aplicación móvil simplemente seleccionamos uno de los estados que se nos muestra en la lista, presionando el botón <strong> Ver. </strong> </li>
										</ul>
									</li> <br>
									<li>Luego se nos mostrará una lista de todos los restaurantes de ese estado, y si encontramos el restaurante, presionamos el botón <strong> Ver. </strong>  </li> <br>
									<li>De allí nos mostrará información relevante del restaurante seleccionado como tipo de cocina, platos, promociones, entre otros, si deseamos realizar una reserva, presionamos el botón <strong> Reservar. </strong> </li> <br>
									<li>Después presionamos el botón <strong> Reservar </strong>, de allí nos solicitará la cantidad de personas, la fecha y hora de la reservación, al finalzar presionamos el botón <strong> Reservar. </strong>  </li> <br>
									<li>Por uĺtimo, nos llegará una notificación en nuestro correo de la reservación, indicando el estatus de dicha reservación. </li> <br>
									</ul>
								</div>
								</div>
							</div>

							<div class="card z-depth-0 bordered">
								<button class="btn btn-link btn-primary btn-custom-size collapsed" type="button" data-toggle="collapse" data-target="#collapseFire" aria-expanded="false" aria-controls="collapseFire" style="text-decoration:none">
									<div class="card-header" id="headingFire">
										<h4 class="mb-0 btn-primary">
										Puntos Yumis
										</h4>
									</div>
								</button>
								<div id="collapseFire" class="collapse" aria-labelledby="headingFire" data-parent="#accordionExample" style="text-decoration:none">
								<div class="card-body">
								<div class="parallax-settings-guia parallax-bg-contenedor">
									<strong>¿Qué son los puntos Yumis?</strong> A continuación te vamos a explicar sobre estos puntos: <br><br>
									<ul>
									<li>Para empezar un usuario de LAPROMO puede conseguir puntos Yumis, que son puntos de fidelización que se consiguen al <strong> realizar una reservación o al invitar amigos a usar LAPROMO. </strong> </li> <br>
									<li>Dichos puntos son utilizados para obtener descuentos en restaurantes que están afiliados al sistema de puntos Yumis. </li> <br>
									<li>Si un usuario desea usar los puntos Yumis, se debe realizar una reservación en un restaurante que acepte Yumis, seleccionando la fecha y hora. </li> <br>
									<li>Hay que tomar en cuenta los motivos que un usuario pierde puntos Yumis:  
										<ul>
										<li>No confirmar una reservación en un restaurante</li>
										<li>El mismo usuario cancela la reservación en un restaurante</li>
										</ul>
									</li> <br>
									<li>Para saber más acerca de los puntos Yumis, visite la sección <strong> Programa Yumis </strong> que está ubicado en la parte superior, en el menú de LA PROMO. </li>
									</ul>
								</div>
								</div>
							</div>

							<div class="card z-depth-0 bordered">
								<button class="btn btn-link btn-primary btn-custom-size collapsed" type="button" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix" style="text-decoration:none">
									<div class="card-header" id="headingSix">
										<h4 class="mb-0 btn-primary">
										Calificaciones y Opiniones
										</h4>
									</div>
								</button>
								<div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordionExample">
								<div class="card-body">
								<div class="parallax-settings-guia parallax-bg-contenedor">
									<strong>¿Quieres opinar y calificar a un restaurante?</strong> A continuación te vamos a explicar como hacerlo: <br><br>
									<ul>
									<li>Para poder opinar y calificar a un restaurante, es necesario que iniciemos sesión en LAPROMO, ya que solamente los usuarios registrados en LAPROMO son los únicos que lo pueden hacer.</li> <br>
									<li>Luego de iniciar sesión en LAPROMO, nos ubicamos en la parte superior de la página, de allí pasamos el cursor (la flechita) en donde dice <strong> Mis reservas </strong> y nos aparecerá una lista de todas nuestras reservaciones. </li> <br>
									<li>De allí seleccionamos una de las reservaciones que hemos realizado y presionamos el botón <strong> Opina </strong>, para poder dejar nuestra opinión y calificación sobre ese restaurante.</li> <br>
									<li>O sino podemos ir a la sección Home qué está en la parte superior de la página, nos dirigimos a las imagenes con los nombres de los estados, seleccionamos una y de allí nos muestra una lista de restaurantes, seleccionamos uno y presionamos el botón <strong> Opina. </strong> </li> 
									</ul>
								</div>
								</div>
							</div>

							</div>
						</div>
						</div>

                </section>
    </div>
</div>