<div class="form-group col-sm-7 <%= "has-error" if @promo.errors[:final_date].any? %>" > 

<div class="form-inputs">
  <%= f.label :final_date, 'Fecha Inicial: ' %>
  <div class="row">
    <div class='col-sm-1'>
      <div class="form-group">
        <div class='input-group date' id='final_date'>
          <%= f.text_field :final_date, placeholder: "Seleccione una fecha" %>
          <span class="input-group-addon">
            <span class="glyphicon glyphicon-calendar"></span>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
$(function () {
    $('#final_date').datetimepicker({
        format: 'YYYY/MM/DD HH:mm',   
    });
    $('#final_date').data("DateTimePicker").minDate(Date.today);
    $("#final_date").on("dp.change", function (e) {
      $('#final_date2').data("DateTimePicker").minDate(e.date);
    });
});
</script> 

</div>