<%= simple_form_for([:restaurante, @promo], defaults: { input_html: { class: 'form-control' } }) do |f| %>
  <%= f.input :promo_type, input_html: {value: f.object.promo_type || '% de descuento'}, :as => :hidden%>
      <div class="form-group col-sm-12 col-md-4 <%= "has-error" if @promo.errors[:name].any? %>">
        <label class="control-label">Nombre de la promoción</label>
        <%= f.input_field :name, placeholder:'Ejemplo: PROMOCIÓN LAPROMO'%>
        <%= f.error :name, class:'help-block' %>
      </div>

      <div class="form-group col-sm-5 <%= "has-error" if @promo.errors[:description].any? %>" >
        <label class="control-label">Descripción</label>      
        <%= f.input_field :description, placeholder:'Ejemplo: Esta promoción incluye 30% de descuento en todo lo que pidas, acércate al Cachapero y aprovecha!'%>
        <%= f.error :description, class:'help-block' %>
      </div>

      <div class="form-group col-sm-12 col-md-2 <%= "has-error" if @promo.errors[:yumis].any? %>">
        <label class="control-label" style="display: block; margin: 27px;" ></label>      
        <label class="control-label">Acepta Yumis:</label>
        <%= f.check_box :yumis %>
        <%= f.error :'yumis', class:'help-block' %>
      </div> 

      <%= f.fields_for :calendars do |builder| %>
        <%= render "calendar_fields", :f => builder %>
      <% end %>

      <div class="box-footer col-sm-12">
        <div class="form-group col-sm-12">
          <button type="submit" class="btn btn-primary">Editar promoción</button>
          <%= link_to 'Atrás', restaurante_promos_path, :class => 'btn btn-primary' %>
        </div>
      </div>

<% end %>
