<div class="container col-md-12">
<h1 class="text-center twinkling-three">Comensales bloqueados</h1>
<% if flash[:success] %>
 <p id="flash_notice" ><%= flash[:success]%></p>
 <%= javascript_tag "$('#flash_notice').hide(4000);" %>
<% elsif flash[:warning] %>
  <%= flash[:warning]%>
<% end %>
<% if @diners.count == 0 %>
    <p>No existen comensales bloqueados.</p>
<% end %>

<% @diners.each do |diner| %>
         <ul class="list-group" >
              <li class="list-group-item" style="height:50px">
              <%= diner.name%>
              <%= link_to  "Desbloquear", administrador_unblock_diners_path(diner), 
                        class:"btn btn-success pull-right" %>
              </li>
         </ul>
<% end %>
</div>
