<div class="container col-md-12">
<h1 class="text-center twinkling-three">Comensales premiables</h1>
<% if flash[:success] %>
 <p id="flash_notice" ><%= flash[:success]%></p>
 <%= javascript_tag "$('#flash_notice').hide(4000);" %>
<% elsif flash[:warning] %>
  <%= flash[:warning]%>
<% end %>
<ul class="list-group" >
    <% @diners.each do |diner| %> 
        <% if diner.reservations.to_a.length > 2 %>
            
            <li class="list-group-item" style="height:50px">
            <%= diner.name%>
            <%= link_to  "Otorgar puntos yumis", administrador_give_yumis_path(diner), class:"btn btn-success pull-right" %>
            </li>
        <% end %>
         
    <% end %>
</ul>     
</div>