<div class="container col-md-12">
<h1 class="text-center twinkling-three">Comensales por advertir</h1>
<% if flash[:success] %>
 <p id="flash_notice" ><%= flash[:success]%></p>
 <%= javascript_tag "$('#flash_notice').hide(4000);" %>
<% elsif flash[:warning] %>
  <%= flash[:warning]%>
<% end %>
<ul class="list-group" >
    <% @diners.each do |diner| %>  
            <% if  diner.reservations.to_a.length == 2%> 
                 <li class="list-group-item" style="height:50px">
                 <%= diner.name%>
                 <%= link_to  "Correo de advertencia", administrador_warn_diners_path(diner), class:"btn btn-warning pull-right" %>
                 </li>
            <% end %>           
    <% end %>
    <% if @contador == 0 %>
      <p>No hay comensales por advertir</p>
    <% end %>
    
</ul>     
</div>