
    <div id="wrapper">


        <div class="content2">
           
                <div class="text-center">
                    <!-- i class="fas fa-comments" style="font-size: 3em; color:darkgray"></i -->
                    <br>
                    <%if  (restaurant = Restaurant.find(@reserva.pluck('restaurant_id')[0])).!= nil? %>
                        <h2 class="mb-3 orange"><%= restaurant.name %></h2>
                    <%end%>
					<div class="row text-center">
				        <div class="col-xs-8 mx-auto">
				            <div class="box-body table-responsive no-padding">
				              <table class="" style=" border-radius: 2em; overflow: hidden; border-color: black;">
				                <tr>
				                  <td style="padding: 1em; background: #ddd; border-color: black;" scope="row"><%= @reserva.pluck('reservation_date')[0].strftime("%d-%m-%Y") %></td>
				                  <td style="padding: 1em; background: #e7e7e7;"><%= @reserva.pluck('reservation_date')[0].to_s(:time) %></td>
				                  <td style="padding: 1em; background: #ddd;"><%= @reserva.pluck('people_num')[0]  %> Pers.</td>
				                  <td style="padding: 1em; background: #e7e7e7;" class="text-center">
				                  	<%if  (promo = Promo.find(@reserva.pluck('promo_id')[0])).!= nil? %>
										<%= promo.description %>
                                  	<%end%>
                              	  </td>
				                </tr>
				              </table>
				            </div>
				            <!-- /.box-body -->
				          </div>
				          <!-- /.box -->
				        </div>
                        <h3 class="mb-3" style="color:#a4a4a4; margin-top: 3%;"> ¿Quieres cancelar esta reserva? </h3>
				  </div>
				  <!-- /.content-wrapper -->
				  <div class="row text-center">
				        <div class="col-xs-5 mx-auto">      
						  <a href="" class="btn btn-primary btn-block btn-lg text-center" target="_blank" style="min-width: 300px; max-width: 200px;" data-toggle="modal" data-target="#exampleModal">
		                	SI
		            	  </a>
            	  		</div>
				  </div>
				  <div class="row text-center">
            	  		<div class="col-xs-12 mx-auto">      
		            	  <a href="" class="btn btn-block btn-lg text-center" target="_blank" onClick="javascript:history.go(-1);return false;">
		                	FINALMENTE, NO
		            	  </a>
            	  		</div>
				  </div>
        </div> <!-- content -->

    </div> <!-- wrapper --> 

 <!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">¿Seguro desea cancelar esta reserva?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Si la cancela no ganar&aacute los puntos yumis.
      </div>
      <div class="modal-footer" style="justify-content: center;">
        <button id="confirmCancel" type="button" class="btn btn-primary">Si</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>    

      </div>
    </div>
  </div>
</div>

<script>
  
  $('#myModal').on('shown.bs.modal', function () {
  $('#myInput').trigger('focus')
})

  $('#confirmCancel').on('click', () => {
    $.ajax({
      url: '/reservations/cancelar/<%= @reserva.pluck('id')[0] %>',
      type: 'PUT',
      data: {},
      cache: false,
      success: function(data) {
        window.location.href = '/reservations/index?dinerid=' + data.id;
      },
      error: function(data) {
        alert(data.message);
      } 
    })
  })

</script>