
<% if user_signed_in?%>
    <div class="">
	    <div role="main" class="main">
            <div class="container">
               
                    <div class="row"> 
                        <div class="col-md-5 col-sm-4 col-lg-4" >
                            <div  class="menu-reserva">
                                <div class= "menu-reserva-header">
                                    <h1>  Mis Reservas </h1>
                                </div>
	                         <div style="margin-top: -1rem;">
                                    <div class="menu-reserva-opciones" onclick="switch_block(0)">                      
                                      <h5 >Mis reservas</h5>  
                                    </div>
                                    <div class="menu-reserva-opciones" onclick="switch_block(1)">
                                      <h5 >Mis reservas efectuadas</h5>  
                                   </div>
                                    <div class="menu-reserva-opciones" onclick="switch_block(2)">
                                      <h5 >Mis reservas pendientes</h5>  
                                     </div>
                                    <div class="menu-reserva-opciones" onclick="switch_block(3)"> 
                                      <h5>Mis reservas canceladas </h5> 
                                       </div>
                                    </div>
                               
                            </div> 
                        </div> 

                        <div class="col" style="margin-left: 3.5rem;">
                            <div  id="block_0" >
                                <h2 class ="display-4"style="text-align: center;">Mis Reservas</h2>
                                <%= render 'status_reservacion', status_r: "Todas" %>
                                <br>
                                </div>
                            <div  id="block_1" >
                                <h2 class ="display-4"style="text-align: center;">Mis Reservas Efectuadas</h2>
                                <%= render 'status_reservacion', status_r: "Efectuada"  %>
                                </div>
                            <div  id="block_2" >
                                <h2 class ="display-4"style="text-align: center;">Mis Reservas Pendientes</h2>
                                <%= render 'pendiente' %>
                                </div>
                            </div>
                            <div  id="block_3" >
                                <h2 class ="display-4"style="text-align: center;">Mis Reservas Canceladas</h2>
                                <%= render 'status_reservacion', status_r: "Cancelada" %>
                            </div> 
                        </div>
                    </div>
            </div>
        </div>
    </div>

    <script> /*  SCRIPT QUE UTILIZO PARA ACTIVAR EL OCULTAR Y DESOCULTAR LAS PAGINA QUE TENGA UN ID DEFINIDO */

        if ( sessionStorage.getItem('apostol')  !== null ) {
            var pedro = parseInt(sessionStorage.getItem('apostol'));  /*  CONVIERTO DE STRING A INTEGER EL VARIABLE  */
            switch_block(pedro);
        } 
        else {
            switch_block(0);
        }
        function switch_block(id) { 
            for (let k=0; k < 4; k++)                      /*  block = mostrar  - none = ocultar  */
                 document.getElementById(`block_${k}`).style.display = (k === id) ? 'block' : 'none';     
            sessionStorage.setItem('apostol', id ); /*  SE UTILIZA PARA ALMACENAR UN DATO LOCALMENTE EN ESTE CASO LA OPCION DEL USUARIO EN EL MENU  */
            }

    </script> 

<%end%>