/* Add here all your CSS customizations */

.boxed {
    transition: box-shadow .3s;
}

.boxed:hover {
    box-shadow: 0 0 15px rgba(33, 33, 33, .2);
}

.small2 {
    font-size: 1rem;
    font-weight: 400;
}

.small3 {
    font-size: 0.75rem;
    font-weight: 100;
    color: gray;
}

.h20 {
    font-size: 35px;
    font-weight: 400;
}

.h30 {
    font-size: 25px;
    font-weight: 400;
}

.container2 {
    position: relative;
    text-align: center;
    color: white;
}

/* Centered text */
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
}


.bottom-right {
    position: absolute;
    bottom: 8px;
    right: 50%;
    background-color: gray;
    font-size: 10px;
}

.centrado {
    display: block;
    width: 50%;
    margin: auto;
}

/************************PARA LOS FAQs EN LA APP********************************/
.content2 {
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 100px;
    overflow: hidden;
    padding: 0 15px 5px 15px;
    min-height: 80vh;
    margin-top: 10px;
}

.visits_count {
    margin-left: 50px;
    color: #98a6ad;
    font-size: 8px;
}

/*.orange{
    color: #e09b23
}*/
.orange2 {
    background-color: #e09b23;

}

.subcont {
    margin-left: 100px;
}

.faq-question-q-box {
    height: 30px;
    width: 30px;
    color: white;
    text-align: center;
    border-radius: 50%;
    float: left;
    font-weight: 700;
    line-height: 30px;
    background-color: #e09b23;
}

/************************PAGINACION y SORT DE LA H002********************************/
.digg_pagination {
    background: white;
    cursor: default;
    /* self-clearing method: */
}

.digg_pagination a,
.digg_pagination span,
.digg_pagination em {
    padding: 0.2em 0.5em;
    display: block;
    float: left;
    margin-right: 1px;
}

.digg_pagination .disabled {
    display: none;
}

.digg_pagination .current {
    font-style: normal;
    font-weight: bold;
    background: #e09b23;
    color: white;
}

.digg_pagination a {
    text-decoration: none;
    color: #e09b23;
}

.digg_pagination a:hover,
.digg_pagination a:focus {
    color: #000033;
    border-color: #000033;
}

.digg_pagination .page_info {
    background: #2e6ab1;
    color: white;
    padding: 0.4em 0.6em;
    width: 22em;
    margin-bottom: 0.3em;
    text-align: center;
}

.digg_pagination .page_info b {
    color: #000033;
    background: #6aa6ed;
    padding: 0.1em 0.25em;
}

.digg_pagination:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

* html .digg_pagination {
    height: 1%;
}

*:first-child+html .digg_pagination {
    overflow: hidden;
}




/*********------------- PEDRO -------------------******/

.vista {
    padding-bottom: 0px;
}

.imagenb {
    height: 490px !important;
}

.section-2 {
    margin-top: 10%;
    margin-bottom: 10%;
}

.responsive {
    width: 100% !important;
    height: auto;
}

.accordion {
    margin-left: 10%;
    margin-right: 10%;
}

.btn-custom-size {
    min-height: 65px;
}


.parallax-bg-1 {
    background-image: url("https://live.staticflickr.com/65535/49192498022_f0d9f1bfdc_o.jpg");
    height: 500px;
}


.parallax-bg-3 {
    background-image: url("https://live.staticflickr.com/65535/49156719956_4051d61359_o.jpg");
    height: 600px;
}


.parallax-settings {
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 15px;
}

.height-child {
    height: -webkit-fill-available;
}


.parallax-bg-4 {
    background-image: url("https://live.staticflickr.com/65535/49156195993_22a9f7f1e2_o.jpg");
    height: 500px;
}


.parallax-bg-5 {
    background-image: url("https://live.staticflickr.com/65535/49194095218_1f8046e3af_o.jpg");
    height: 400px;
}


.parallax-bg-6 {
    background-image: url("https://live.staticflickr.com/65535/49154813397_d7f9ba644c_o.jpg");
    background-repeat: no-repeat;
    background-position: left;
    height: 500px;
    background-size: 604px 464px;
}


.parallax-bg-7 {
    background-image: url("https://live.staticflickr.com/65535/49156710856_4e7f6deda6_o.jpg");
    height: 500px;
}


.parallax-bg-8 {
    background-image: url("https://live.staticflickr.com/65535/49156205728_e658e20101_o.jpg");
    background-repeat: no-repeat;
    background-size: contain;
}

.parallax-bg-9 {
    background-image: url("https://live.staticflickr.com/65535/49152385527_241208f169_o.jpg");
    background-repeat: no-repeat;
    background-size: contain;
}





/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
/* El contenedor de la tarjeta invertida: establece el ancho y la altura como quieras. Hemos agregado la propiedad de borde para demostrar que el flip se sale de la caja al pasar el mouse (elimine la perspectiva si no desea el efecto 3D */
.flip-card {
    background-color: transparent;
    width: 300px;
    height: 200px;
    border: 13px solid #f1f1f1;
    perspective: 1000px;
    /* Remove this if you don't want the 3D effect */
    /*Elimine esto si no desea el efecto 3D */
}

/* This container is needed to position the front and back side */
/* Este contenedor es necesario para colocar el anverso y el reverso */
.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;

}

/* Do an horizontal flip when you move the mouse over the flip box container */
/* realiza un giro horizontal cuando mueva el mouse sobre el contenedor */
.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

/* Position the front and back side */
/* Posicionar el anverso y reverso */
.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;

}

/* Style the front side (fallback if image is missing) */
/* Estilo del anverso (retroceso si falta imagen) */
.flip-card-front {
    background-color: #bbb;
    color: black;
}

/* Style the back side */
/* Estilo del reverso */
.flip-card-back {
    background-color: white;
    color: white;
    /* Remove this if you don't want the 3D effect */
    /* Elimina esto si no quieres el efecto 3D */
    transform: rotateY(180deg);
}


.section-9 {
    margin-top: 5%;
    margin-bottom: 10%;

}

.Contacto {
    padding-top: 40px;
    background-image: url('https://live.staticflickr.com/65535/49148504377_cdc17e0d87_c.jpg');
    background-repeat: no-repeat;
    background-position: top right;
    background-size: contain;
}

.Contacto .Contacto-textContainer {
    width: 535px;
    padding: 29px 47px 57px;
    margin-top: -31px;
    background-color: #fff;
    box-shadow: 0 2px 4px 4px rgba(0, 0, 0, .33);
    font-size: 16px;
}

.Contacto .Contacto-title {
    max-width: 456px;
    font-size: 32px;
    margin-top: 0;
    background-color: #fff;
}

.textoc {
    font-size: 16px;
    margin-top: 54px;
}


/* El TAJESTA TIPO 2 */

.flip-carta {
    /* configuracion de la tarjeta */
    background-color: transparent;
    width: 240px;
    /*largo */
    height: 300px;
    /*ancho */
    perspective: 1000px;
}

.flip-carta-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 10px 8px 0 rgba(0, 0, 0, 0.5);
}

.flip-carta:hover .flip-carta-inner {
    /* configuracion  efecto de rotacion */
    transform: rotateX(30deg);
}

.flip-carta-front,
.flip-carta-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.flip-carta-front {
    /* configuracion de la tarjeta frontal*/
    background-color: #CCFFFF;
    color: black;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}


.section-8 {
    border: 1px solid;
    margin-top: 119px;
    margin-bottom: 100px;
    margin-right: 10px;
    margin-left: 16px;

}


.dropbtn {
    background-color: transparent;
    color: white;
    padding: 6px;
    font-size: 14px;
    border: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    padding: 0px 2px;
    list-style-type: none;
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 140px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    right: 0;
}

.dropdown-content a {
    color: black;
    padding: 6px 0px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #e09b23;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #e09b23;
}



.parallax-bg-10 {
    background-image: url("https://live.staticflickr.com/65535/49184520762_3c8dcc0786_o.jpg");
    height: 500px;
}


.card2 {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 100%;
}

.card2:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.fondo-1 {
    background-image: url("https://live.staticflickr.com/65535/49186816582_4d43dfc9f3_o.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    min-height: 245px;
    padding: 30px 35px 0;
    color: #fff;
    cursor: pointer;
}


.yumi {
    position: relative;
    min-height: 210px;
    padding: 10px 30px 10px 30px;
    color: #fff;
    background-color: #fab822;
    cursor: pointer;
}

.centered2 {
    font-size: 25px;
}


.centerpp {
    margin: auto;
    width: 60%;
    padding: 10px;
}

.cardp-img {
    height: 145px;
    width: inherit;
    margin-top: 20%;
}


.menu-reserva {
    position: sticky;
    top: 0;
    margin-top: 8rem;
    background-color: #f2f3f4;
    padding: 2rem;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 0 0.25rem;
    text-align: center;
    max-width: 14rem;


}



.menu-reserva-header {
    background-color: #d4d7de;
    position: relative;
    padding: 0;
    border-radius: 3px 3px 0px 0px;
    margin-left: -32px;
    margin-right: -32px;
    margin-top: -32px;
    text-align: center;
}

.menu-reserva-header h1 {
    font-size: 1.25rem;
    font-weight: bold;

}

.menu-reserva-opciones {
    height: 3.5rem;
    align-items: center;
    vertical-align: center;
    border-radius: 0.2rem 0.2rem 0.2rem 0.2rem;
    transition: .3s all ease-in-out;

}

.menu-reserva-opciones h5 {

    font-size: 1rem;
    font-weight: normal;
    text-transform: none;
    line-height: 3.5rem;
}

.statu h5{
    text-transform: none;
    font-weight: bold;
    font-size: .9rem;
}


.menu-reserva-opciones:hover {
    background-color: rgba(224, 155, 35, 0.8);
    margin-left: -1.98rem;
    margin-right: -1.99rem;
}

/**************-------------- PEDRO ----------------- ***************/
.digg_pagination2 .current {
    background: #3c8dbc;
}

.digg_pagination2 a {
    color: #3c8dbc;
}

.pretty th .current {
    padding-right: 12px;
    background-repeat: no-repeat;
    background-position: right center;
}



/**************-------------- PEDRO ----------------- ***************/
.digg_pagination2 .current {
    background: #3c8dbc;
}

.digg_pagination2 a {
    color: #3c8dbc;
}

.pretty th .current {
    padding-right: 12px;
    background-repeat: no-repeat;
    background-position: right center;
}

/*.pretty th .asc {
  background-image: url(<%= asset_path("/images/up_arrow.gif")%>);
}

.pretty th .desc {
  background: url(<%= asset_path 'administrador/caret-down.png'%>);
} */

.dropdown-search {
    .btn {
        background: rgba(#e09b23, 1);
        color: white;
        font-weight: 900;
        text-transform: capitalize;
        box-shadow: 0 0 3px #e09b23;
        border-radius: 500px;
        transition: .3s all ease-in-out;

        &:hover {
            text-shadow: white;
        }

        ;
    }

    .dropdown-menu {
        animation: animationDrop .4s ease-in-out;
        background: #FFFFFF;
        text-align: left;
        width: 90%;
        box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);

        a {
            color: gray;
            display: inline-block;
            width: 90%;
            padding: .1rem;
            margin-left: 5%;
            font-size: 0.9rem;
            margin-right: 5%;
            color: #e09b23;

            &:hover {
                background: #e09b23;
                box-shadow: 0 0 3px #e09b23;
                text-decoration: none;
                color: white;
            }

            ;

        }
    }
}

@keyframes animationDrop {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.card-restaurant {
    border: none;
    width: 100%;
    max-width: 45rem;
    margin: 1rem;
    // margin-left: 5rem; 
    padding: .5rem;
    padding-left: 1.3rem;
    font-size: .9em;
    border-radius: 10px;
    transition: all .3s ease-in-out;

    &:hover {
        box-shadow: 0 0 15px rgba(33, 33, 33, .2);
        transform: scale(1.02);
    }

    ;

    .img-res {
        width: 8rem;
        height: 8rem;

        @media screen and (max-width: 992px) {
            width: 7.5rem;
            height: 7.5rem;
        }

        ;

        @media screen and (max-width: 768px) {
            width: 7rem;
            height: 7rem;
        }

        @media screen and (max-width: 576px) {
            width: 9rem;
            height: 9rem;

        }
    }

    .col-img {
        padding: 0;
        margin: 0;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    @media screen and (max-width: 576px) {
        text-align: center;

    }

    .promo {
        color: red;
        font-weight: 900;
        margin-top: -1rem;
        padding: .5rem;
    }
}



.slider.ui-slider {
    background: #d5cebc;
    border: none;
    border-radius: 0;
}

.slider.ui-slider .ui-slider-handle {
    width: 1.3rem;
    height: 1.3rem;
    border-radius: 50% 50% 0;
    border-color: transparent;
    transition: border 0.4s ease;
}

.slider.ui-slider .ui-slider-handle.ui-state-hover,
.slider.ui-slider .ui-slider-handle.ui-state-focus,
.slider.ui-slider .ui-slider-handle.ui-state-active {
    border-color: #172f38;
}

.slider.ui-slider .ui-slider-pip .ui-slider-line {
    background: #d5cebc;
    transition: all 0.4s ease;
}

.slider.ui-slider.ui-slider-horizontal {
    height: 6px;
}

.slider.ui-slider.ui-slider-horizontal .ui-slider-handle {
    -webkit-transform: rotateZ(45deg);
    transform: rotateZ(45deg);
    top: -25px;
    margin-left: -10px;
}

.slider.ui-slider.ui-slider-horizontal .ui-slider-pip {
    top: 10px;
}

.slider.ui-slider.ui-slider-horizontal .ui-slider-pip .ui-slider-line {
    width: 2px;
    height: 10px;
    margin-left: -1px;
}

.slider.ui-slider.ui-slider-horizontal .ui-slider-pip[class*=ui-slider-pip-selected] .ui-slider-line {
    height: 20px;
}

.slider.ui-slider.ui-slider-horizontal .ui-slider-pip.ui-slider-pip-inrange .ui-slider-line {
    height: 12px;
}

.slider.ui-slider.ui-slider-vertical {
    width: 6px;
    height: 125px;
    display: inline-block;
    margin: 0 15%;
}

.slider.ui-slider.ui-slider-vertical .ui-slider-handle {
    -webkit-transform: rotateZ(-45deg);
    transform: rotateZ(-45deg);
    left: -25px;
    margin-bottom: -10px;
}

.slider.ui-slider.ui-slider-vertical .ui-slider-pip {
    left: 10px;
}

.slider.ui-slider.ui-slider-vertical .ui-slider-pip .ui-slider-line {
    height: 2px;
    width: 10px;
    margin-top: -1px;
}

.slider.ui-slider.ui-slider-vertical .ui-slider-pip[class*=ui-slider-pip-selected] .ui-slider-line {
    width: 20px;
}

.slider.ui-slider.ui-slider-vertical .ui-slider-pip.ui-slider-pip-inrange .ui-slider-line {
    width: 12px;
}

.slider.ui-slider.ui-slider-vertical .ui-slider-handle .ui-slider-tip,
.slider.ui-slider.ui-slider-vertical .ui-slider-handle[class*=ui-state-] .ui-slider-tip {
    visibility: visible;
    opacity: 1;
    border: none;
    background: transparent;
    left: 50%;
    width: 30px;
    margin-left: -15px;
    text-align: center;
    color: white;
    font-weight: normal;
    top: 10px;
    -webkit-transform: rotateZ(45deg);
    transform: rotateZ(45deg);
}

.slider.ui-slider.ui-slider-vertical .ui-slider-handle .ui-slider-tip:before,
.slider.ui-slider.ui-slider-vertical .ui-slider-handle[class*=ui-state-] .ui-slider-tip:before {
    display: none;
}

.slider .ui-slider-handle,
.slider .ui-slider-range,
.slider .ui-slider-pip[class*=ui-slider-pip-selected] .ui-slider-line,
.slider .ui-slider-pip.ui-slider-pip-inrange .ui-slider-line {
    background-color: #e09b23;
}


.menu-filtro {
    background-color: #f2f3f5;
    padding: 2rem;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 0 0.25rem;

}

.menu-filtro h2 {
    font-size: 0.9rem;
    font-weight: bold;
}

.menu-filtro-header {
    background-color: #d4d7de;
    position: relative;
    padding: 0;
    border-radius: 5px 5px 0px 0px;
    margin-left: -32px;
    margin-right: -32px;
    margin-top: -32px;
    text-align: center;
}

.menu-filtro-header h1 {
    font-size: 1.3rem;

}

.menu-filtro-title {
    background-color: #e2e4e9;
    position: relative;
    margin-left: -32px;
    margin-right: -32px;
    margin-top: -32px;
    padding-left: 1rem;
    border-top: 0.05rem solid white;


}
