
    <section>
        <div class="container text-center col-lg-10" style="text-align: center;">
            <%=form_tag('/restaurants/avanzada', method: :get) do%>
                <div class="input-group text-center" style="text-align: center">
                <% options = options_from_collection_for_select(@kitchen, 'id', 'name') %>
                <%= select_tag :kitchen,  options, {class: "form-control"}%>
                <%= select_tag(:promo, options_for_select([['Tipo de promoción'], ['% de descuento', 1], ['2x1', 2], ['% de descuento por plato', 3]]), {class: "form-control"}) %>
            <!--    <%= text_field_tag :title, params[:title], placeholder:'Introduzca título de restaurante...', :class => "form-control", style: "height:37px"%> -->
                <%= select_tag(:capacity, options_for_select([['Capacidad'], ['10', 10], ['15', 15], ['20', 20], ['100', 100]]), {class: "form-control"}) %> 
                <%= select_datetime Date.today, prefix: :date %>
                <span class="input-group-btn">
                    <%= submit_tag 'Buscar', style:"background-color: #589442;  color: #ffffff; border-color: #589442;", name: nil, :class => "btn btn-info btn-flat"%>
                </span>
            </div>
            <%end%>
        </div>
    </section>
    

