<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<%# Estilos están en assets/stylesheets/public/css/custom.css %>
<%# Scripts están en assets/javascripts/public/js/custom.js %>

<div id="searchbar" class="bg-color-secondary">
  <div id="searchOptions">
    <ul>
      <li>Puedes buscar por:</li>
      <li id="calification" class="tiposBusqueda">Calificación</li>
      <li id="yumis" class="tiposBusqueda">Yumis</li>
    </ul>
  </div>
  <div id="formSearch">
    <div>
      
      <div class="calificationType text-center">
        <div class="startStyle">
          <input type="radio" name="calificationType" value="kitchen" id="kitchen"> <label class="radioSpace" for="kitchen">Cocina</label>
          <input type="radio" name="calificationType" value="ambience" id="ambience"> <label class="radioSpace" for="ambience">Ambiente</label>
          <input type="radio" name="calificationType" value="service" id="service"> <label class="radioSpace" for="service">Servicio</label>
          <span class="radioSpace">|</span>
          <span class="fa fa-star" title="1"></span>
          <span class="fa fa-star" title="2"></span>
          <span class="fa fa-star" title="3"></span>
          <span class="fa fa-star" title="4"></span>
          <span class="fa fa-star" title="5"></span>
          <span style="margin-left:1rem;" class="radioSpace">|</span>
          <select style="max-width:27%" class="custom-select" id="calification-estados">
            <option value="withOutState" selected="selected">Seleccione estado</option>
            <% @estados.each do |r| %>
            <option value="<%= r.id %>"><%= r.name %></option>
            <%end%>
          </select>
        </div>
        <div class="yumiStyle">
          <form action="/restaurants-yummys" method="GET">
            <select class="custom-select" name = "estado_id">
              <% @estados.each do |r| %>
              <option value="<%= r.id %>"><%= r.name %></option>
              <%end%>
            </select>
            <button class="searchYummiState" type="submit">Buscar</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<%# Form de búsqueda, colocarlo en algún lugar poco visible %>
<form id="calificationSearch" action="calification-filter" method="get" name="calificationForm">
  <input id="value" type="text" name="value">
  <input id="calificationType" type="text" name="type">
  <input id="selectPlace" type="text" name="state">
</form>