<div class="row">
    <% @restaurants.each do |restaurant| %>
    <div class="card boxed card-restaurant">
        <%= link_to restaurant_info_path(restaurantID:restaurant.id), style: "text-decoration: none;" do%>
        <%photo_restaurant=Photo.photo_restaurant(restaurant.id) %>
        <div class="row align-items-center justify-content-center">
            <div class="col-sm-2 col-img">
                <% if photo_restaurant[0] %>
                <%= image_tag photo_restaurant[0] , class:"img-res"%>
                <% else %>
                <%= image_tag "https://live.staticflickr.com/65535/49191292228_e3b7a20bbd_o.png",  class:"img-res"  %>
                <% end %>
            </div>
            <div class="col-sm-7 border-right" style="margin-left: 10px;">
                <div class="media-body px-4  ">
                    <h4 class="mt-3 mb-2 h30">
                        <%=restaurant.name%>
                    </h4>
                    <p class="mb-1">
                        <%=restaurant.address %>
                    </p>
                    <% if KitchenType.kitchen_type_rest(restaurant.id).exists?%>
                    <button class="btn btn-default btn-flat btn-sm" style="color: #e09b23; border-color: #e09b23; text-transform: uppercase;">
                        <%= KitchenType.kitchen_type_rest(restaurant.id)[0].name%></button>
                    <%else%>
                    <button class="btn btn-default btn-flat btn-sm" style="color: #e09b23;">NO DISPONIBLE</button>
                    <%end%>
                    <br>
                    <% if Plate.avg_price_rest(restaurant.id).is_a? Numeric%>
                    <p style="margin-top: 10px;">Precio medio:
                        <%= Plate.avg_price_rest(restaurant.id).round(2)%> $</p>
                    <%else%>
                    <p style="margin-top: 10px;"> Precio no disponible</p>
                    <%end%>
                    <%if Promo.restaurants(restaurant.id).count > 0%>
                    <p class="promo"><b>¡<%=Promo.restaurants2(restaurant.id)[0]%>!</b></p>
                    <%else%>
                    <br>
                    <%end%>
                </div>
            </div>
            <div class="col-sm-2" style="text-align: center; margin-top: -25px; margin-left: 25px;">
                <h4 class="h20">
                    <% if ((Comment.avg_kitchen_score_rest(restaurant.id).is_a? Numeric) and (Comment.avg_ambient_score_rest(restaurant.id).is_a? Numeric) and (Comment.avg_service_score_rest(restaurant.id).is_a? Numeric)) %>
                    <%promedio = Comment.avg_kitchen_score_rest(restaurant.id)+Comment.avg_ambient_score_rest(restaurant.id).round(2)+Comment.avg_service_score_rest(restaurant.id).round(2)%>
                    <%=(promedio/3).round(1)%>
                    <%else%>
                    0
                    <%end%>
                    <small class="small2">/ 5</small></h4>
                <% if Comment.number_comments_rest(restaurant.id) == 1%>
                <small class="small3">
                    <%= Comment.number_comments_rest(restaurant.id)%> Opinión</small>
                <% elsif Comment.number_comments_rest(restaurant.id) > 1 %>
                <small class="small3">
                    <%= Comment.number_comments_rest(restaurant.id)%> Opiniones</small>
                <%else%>
                <small class="small3"> No disponible
                    <%end%>
                </small>
            </div>
        </div>
    </div> <!-- end col -->
    <%end%>
    <% end %>
</div>
<%= hidden_field_tag :direction, params[:direction] %>
<%= hidden_field_tag :sort, params[:sort] %>