<head>
    <title>ERROR</title>
</head>

<body>
    <!-- Begin page -->
    <div id="wrapper">
        <div class="content2">
            <div class="text-center">
                <i class="h1 far fa-frown text-muted"></i> <i class=""></i>                 <% if !flash[:error_ex].nil? || @error %>
                    <br>
                    <br>
                    <h1 class="mb-3 orange" style ="color: #e09b23"><%= flash[:error_ex] %></h1>
                    <p>Lo sentimos, no se encontraron restaurantes en nuestro sistema bajo su criterio de búsqueda.</p>
                    <p>Presione el botón para volver.</p>
                <% elsif !@restaurant_list.nil? %>
                    <br>
                    <br>
                    <h2 class="text-center">Se han encontrado <%=@restaurant_list.length%> Restaurantes <strong style="color: #e09b23">con calificación: </strong> <%= @value %> <br>en el estado <strong style="color: #e09b23"><%= @estado[0].name %></strong> </h2>
                <%end%>
                <button type="submit" style="background-color: #b4b2b2; color:black; border-color: #b4b2b2" class="btn btn-info btn-flat waves-effect waves-light mt-2 mr-1" onClick="history.back()">Volver</button>
                </div>
            </div>
        </div>
    </body>



 

     
