<head>
<title>ERROR</title>
</head>

<body>

<!-- Begin page -->
<div id="wrapper">
    <div class="content2">
              
                        <div class="text-center">
                            <i class="h1 far fa-frown text-muted"></i> <i class=""></i>
                            <h1 class="mb-3 orange" style ="color: #e09b23">No se obtuvieron resultados para esa búsqueda</h1>
                            <p class="text-muted"> Lo sentimos, no se encontraron  restaurantes en nuestro sistema bajo su criterio de búsqueda.<br>Presione el botón para volver.
                           <br></p>

                            <button type="submit" style="background-color: #b4b2b2; color:black; border-color: #b4b2b2" class="btn btn-info btn-flat waves-effect waves-light mt-2 mr-1" onClick="history.back()">Volver</button>

                        </div>
                    </div>
</div>

</body>