<div class="container">
<h2 class ="display-4"style="text-align: center;">Ubicación de todos los restaurantes</h2>

<section >
                <div class="container text-center col-lg-5" style="text-align: center;">
                    <div class="col-sm-12 col-md-2 col-lg-2" >
							<div class="input-group text-center" style="text-align: center">
                                <div class="dropdown dropdown-search">
                                    <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                         Buscar restaurantes en
                                    </button>
                                    <div class="dropdown-menu"  aria-labelledby="dropdownMenuButton">
                                        <%= sortable nil,'Anzoátegui','opcion_uno'%>
                                        <%= sortable nil,'Barinas','opcion_dos'%>
                                        <%= sortable nil,'Distrito Capital','opcion_tres'%>
                                        <%= sortable nil,'Falcón','opcion_cuatro'%>
                                        <%= sortable nil,'Merida','opcion_cinco'%> 
                                        <%= sortable nil,'Miranda','opcion_seis'%>
                                        <%= sortable nil,'Nueva Esparta','opcion_siete'%> 
                                        <%= sortable nil,'Táchira','opcion_nueve'%>
                                        <%= sortable nil,'Trujillo','opcion_diez'%>
                                        <%= sortable nil,'Yaracuy','opcion_once'%>
                                        <%= sortable nil,'Zulia','opcion_doce'%> 
                                     </div>
                                 </div>
                             </div>
                        </div>
                </div>

<br><br><br>

<div class="row">

<div class="col-md-6">
<br><br>
            <div style='width: 530px;'>

                <div id="map" style='width: 530px; height: 400px;'></div>
            </div>

</div>


<script type="text/javascript">

var locations = [
    ['Restaurante El Cachapero. Municipio Libertador, Parroquia Alta Gracia', 10.515336, -66.920767, 3],
    ['Restaurante El Arepero. Municipio Libertador, Parroquia Antimano', 10.468403, -67.0394218, 2],
    ['Restaurante El Empanadero. Municipio Libertador, Caricuao', 10.4252295, -67.0218127, 1],
    ['Restaurante Choriexpress. Yaracuy', 10.3038004, -69.2889384, 9],
    ['Restaurante El Aliento del llano. Municipio Bolivar', 10.4681049, -69.0360838, 1],
    ['Restaurante Casa Urrtia. Municipio San Cristobal, Parroquia La Concordia', 7.7478246, -72.2830186, 12],
    ['Restaurante Bonsai Sushi. Municipio San Cristobal, Parroquia San Juan Bautista', 7.773234, -72.2358717, 17],
    ['Restaurante Salon Canton. Municipio Libertador, Parroquia San Sebastiań', 7.7478318, -72.2907799, 12],
    ['Restaurante Roma Mia. Municipio Libertador, Parroquia Pedro Maria Morantes', 7.7597546, -72.2195883, 13],
];
        
            var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 10,
                center: new google.maps.LatLng(10.4683612, -67.0304556),
                mapTypeId: google.maps.MapTypeId.ROADMAP
            });

            var infowindow = new google.maps.InfoWindow();
            var marker, i;

            for (i = 0; i < locations.length; i++) {  
                marker = new google.maps.Marker({
                position: new google.maps.LatLng(locations[i][1], locations[i][2]),
                map: map
            });

            google.maps.event.addListener(marker, 'click', (function(marker, i) {
            return function() {
                infowindow.setContent(locations[i][0]);
                infowindow.open(map, marker);
            }
             })(marker, i));
            }

        </script>

        <% if @option == nil %>
        <div class="col">
        <div id = "products">
            <%=render 'lista'%></div>
        </div>
     </div>
     <%= will_paginate @restaurants, class: "digg_pagination pagination justify-content-center", previous_label: "<", next_label: ">"%>   
     <%end%>

    <% if @option == "opcion_tres" %>

        <script type="text/javascript">
            var locations = [
                ['Restaurante El Cachapero. Municipio Libertador, Parroquia Alta Gracia', 10.515336, -66.920767, 3],
                ['Restaurante El Arepero. Municipio Libertador, Parroquia Antimano', 10.468403, -67.0394218, 2],
                ['Restaurante El Empanadero. Municipio Libertador, Caricuao', 10.4252295, -67.0218127, 1],
            ];

            var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 10,
                center: new google.maps.LatLng(10.4683612, -67.0304556),
                mapTypeId: google.maps.MapTypeId.ROADMAP
            });

            var infowindow = new google.maps.InfoWindow();
            var marker, i;

            for (i = 0; i < locations.length; i++) {  
                marker = new google.maps.Marker({
                position: new google.maps.LatLng(locations[i][1], locations[i][2]),
                map: map
            });

            google.maps.event.addListener(marker, 'click', (function(marker, i) {
            return function() {
                infowindow.setContent(locations[i][0]);
                infowindow.open(map, marker);
            }
             })(marker, i));
            }
        </script>
        <div class="col">
            <div id = "products">
                <%=render 'lista'%></div>
            </div>
         </div>
         <%= will_paginate @restaurants, class: "digg_pagination pagination justify-content-center", previous_label: "<", next_label: ">"%>
    <%end%>

    
    <% if @option == "opcion_once" %>

        <script type="text/javascript">
            var locations = [
                ['Restaurante Choriexpress. Yaracuy', 10.3038004, -69.2889384, 9],
                ['Restaurante El Aliento del llano. Municipio Bolivar', 10.4681049, -69.0360838, 1],
            ];
    
        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 10,
            center: new google.maps.LatLng(10.3038004 , -69.2889384),
            mapTypeId: google.maps.MapTypeId.ROADMAP
        });
    
        var infowindow = new google.maps.InfoWindow();
        var marker, i;
    
        for (i = 0; i < locations.length; i++) {  
            marker = new google.maps.Marker({
            position: new google.maps.LatLng(locations[i][1], locations[i][2]),
            map: map
        });
    
        google.maps.event.addListener(marker, 'click', (function(marker, i) {
            return function() {
                infowindow.setContent(locations[i][0]);
                infowindow.open(map, marker);
            }
            })(marker, i));
        }
        </script>
        <div class="col">
        <div id = "products">
            <%=render 'lista'%></div>
        </div>
     </div>
     <%= will_paginate @restaurants, class: "digg_pagination pagination justify-content-center", previous_label: "<", next_label: ">"%>
    <%end%>

    <% if @option == "opcion_nueve" %>

        <script type="text/javascript">
            var locations = [
                ['Restaurante Casa Urrtia. Municipio San Cristobal, Parroquia La Concordia', 7.7478246, -72.2830186, 12],
                ['Restaurante Bonsai Sushi. Municipio San Cristobal, Parroquia San Juan Bautista', 7.773234, -72.2358717, 17],
                ['Restaurante Salon Canton. Municipio Libertador, Parroquia San Sebastiań', 7.7478318, -72.2907799, 12],
                ['Restaurante Roma Mia. Municipio Libertador, Parroquia Pedro Maria Morantes', 7.7597546, -72.2195883, 13],
            ];

            var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 10,
                center: new google.maps.LatLng(7.7617566, -72.2918021),
                mapTypeId: google.maps.MapTypeId.ROADMAP
            });

            var infowindow = new google.maps.InfoWindow();
            var marker, i;

            for (i = 0; i < locations.length; i++) {  
                marker = new google.maps.Marker({
                position: new google.maps.LatLng(locations[i][1], locations[i][2]),
                map: map
            });

            google.maps.event.addListener(marker, 'click', (function(marker, i) {
            return function() {
                infowindow.setContent(locations[i][0]);
                infowindow.open(map, marker);
            }
             })(marker, i));
            }
        </script>
        <div class="col">
        <div id = "products">
            <%=render 'lista'%></div>
        </div>
     </div>
     <%= will_paginate @restaurants, class: "digg_pagination pagination justify-content-center", previous_label: "<", next_label: ">"%>
    <%end%>

    <% if @option == "opcion_doce" %>

        <script type="text/javascript">
            var locations = [
                ['Restaurante El Cachapero. Municipio Maracaibo, Parroquia Antonio Borjas Romero', 10.689943, -71.7550463, 13],
                ['Restaurante EL arepero. Municipio Maracaibo, Parroquia Bolivar', 10.650983, -71.6257598, 14],
                ['Restaurante El empanadero. Municipio Libertador, Parroquia Cacique Mara', 10.6536315, -71.6604662, 14],
            ];

            var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 10,
                center: new google.maps.LatLng(10.6335136, -71.8170331),
                mapTypeId: google.maps.MapTypeId.ROADMAP
            });

            var infowindow = new google.maps.InfoWindow();
            var marker, i;

            for (i = 0; i < locations.length; i++) {  
                marker = new google.maps.Marker({
                position: new google.maps.LatLng(locations[i][1], locations[i][2]),
                map: map
            });

            google.maps.event.addListener(marker, 'click', (function(marker, i) {
            return function() {
                infowindow.setContent(locations[i][0]);
                infowindow.open(map, marker);
            }
             })(marker, i));
            }
        </script>
        <div class="col">
        <div id = "products">
            <%=render 'lista'%></div>
        </div>
     </div>
     <%= will_paginate @restaurants, class: "digg_pagination pagination justify-content-center", previous_label: "<", next_label: ">"%>
    <%end%>

    <% if @option == "opcion_seis" %>

        <script type="text/javascript">
            var locations = [
                ['Restaurante Choriexpress. Municipio Chacao, Parroquia Chacao', 10.5164611, -66.8898442, 13],
                ['Restaurante EL Aliento del Llano. Municipio Baruta, Parroquia El Cafetal', 10.4679965, -66.8547511, 14],
                ['Restaurante Casa Urrutia. Municipio Baruta, Las minas', 10.461094, -66.8763296, 14],
            ];

            var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 10,
                center: new google.maps.LatLng(10.4971587, -66.8429554),
                mapTypeId: google.maps.MapTypeId.ROADMAP
            });

            var infowindow = new google.maps.InfoWindow();
            var marker, i;

            for (i = 0; i < locations.length; i++) {  
                marker = new google.maps.Marker({
                position: new google.maps.LatLng(locations[i][1], locations[i][2]),
                map: map
            });

            google.maps.event.addListener(marker, 'click', (function(marker, i) {
            return function() {
                infowindow.setContent(locations[i][0]);
                infowindow.open(map, marker);
            }
             })(marker, i));
            }
        </script>
        <div class="col">
        <div id = "products">
            <%=render 'lista'%></div>
        </div>
     </div>  
     <%= will_paginate @restaurants, class: "digg_pagination pagination justify-content-center", previous_label: "<", next_label: ">"%>
    <%end%>

    <% if @option == "opcion_cinco" %>

        <script type="text/javascript">
            var locations = [
                ['Restaurante Bonsai Sushi. Municipio Sucre, La trampa', 8.5409498, -71.458876, 17],
                ['Restaurante Roma Mia. Municipio Sucre, Lagunilla', 8.5060728,-71.417742, 14],
                ['Restaurante Salón Cantón. Municipio Rangel, La Toma', 8.8046345, -70.9744719, 12],
                ['Restaurante Pancho Villa Tacos. Municipio Baruta, Cacute', 8.6908874, -71.0293529, 13],
            ];

            var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 10,
                center: new google.maps.LatLng(8.5653374, -71.2786329),
                mapTypeId: google.maps.MapTypeId.ROADMAP
            });

            var infowindow = new google.maps.InfoWindow();
            var marker, i;

            for (i = 0; i < locations.length; i++) {  
                marker = new google.maps.Marker({
                position: new google.maps.LatLng(locations[i][1], locations[i][2]),
                map: map
            });

            google.maps.event.addListener(marker, 'click', (function(marker, i) {
            return function() {
                infowindow.setContent(locations[i][0]);
                infowindow.open(map, marker);
            }
             })(marker, i));
            }
        </script>
        <div class="col">
            <div id = "products">
                <%=render 'lista'%></div>
            </div>
         </div>
         <%= will_paginate @restaurants, class: "digg_pagination pagination justify-content-center", previous_label: "<", next_label: ">"%>
    <%end%>

    <% if @option == "opcion_uno" %>
        <script type="text/javascript">
            var locations = [
                ['Restaurante Gaeta y 19 mas', 10.3870529, -66.9650207, 17],
            ];

            var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 10,
                center: new google.maps.LatLng(10.3870529, -66.9650207),
                mapTypeId: google.maps.MapTypeId.ROADMAP
            });

            var infowindow = new google.maps.InfoWindow();
            var marker, i;

            for (i = 0; i < locations.length; i++) {  
                marker = new google.maps.Marker({
                position: new google.maps.LatLng(locations[i][1], locations[i][2]),
                map: map
            });

            google.maps.event.addListener(marker, 'click', (function(marker, i) {
            return function() {
                infowindow.setContent(locations[i][0]);
                infowindow.open(map, marker);
            }
             })(marker, i));
            }
        </script>
        <div class="col">
            <div id = "products">
                <%=render 'lista'%></div>
            </div>
         </div>
         <%= will_paginate @restaurants, class: "digg_pagination pagination justify-content-center", previous_label: "<", next_label: ">"%>
    <%end%>

    <% if @option == "opcion_dos" %>
    <script type="text/javascript">
        var locations = [
            ['Restaurante Gaeta y 18 mas', 10.3870529,-66.9650207, 10],
        ];

        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 10,
            center: new google.maps.LatLng(10.3870529, -66.9650207),
            mapTypeId: google.maps.MapTypeId.ROADMAP
        });

        var infowindow = new google.maps.InfoWindow();
        var marker, i;

        for (i = 0; i < locations.length; i++) {  
            marker = new google.maps.Marker({
            position: new google.maps.LatLng(locations[i][1], locations[i][2]),
            map: map
        });

        google.maps.event.addListener(marker, 'click', (function(marker, i) {
        return function() {
            infowindow.setContent(locations[i][0]);
            infowindow.open(map, marker);
        }
         })(marker, i));
        }
    </script>
    <div class="col">
        <div id = "products">
            <%=render 'lista'%></div>
        </div>
     </div>
     <%= will_paginate @restaurants, class: "digg_pagination pagination justify-content-center", previous_label: "<", next_label: ">"%>
<%end%>

<% if @option == "opcion_cuatro" %>
<script type="text/javascript">
    var locations = [
        ['Restaurante Gaeta y 19 mas', 10.3870529,-66.9650207, 10],
    ];

    var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 10,
        center: new google.maps.LatLng(10.3870529, -66.9650207),
        mapTypeId: google.maps.MapTypeId.ROADMAP
    });

    var infowindow = new google.maps.InfoWindow();
    var marker, i;

    for (i = 0; i < locations.length; i++) {  
        marker = new google.maps.Marker({
        position: new google.maps.LatLng(locations[i][1], locations[i][2]),
        map: map
    });

    google.maps.event.addListener(marker, 'click', (function(marker, i) {
    return function() {
        infowindow.setContent(locations[i][0]);
        infowindow.open(map, marker);
    }
     })(marker, i));
    }
</script>
<div class="col">
    <div id = "products">
        <%=render 'lista'%></div>
    </div>
 </div>
 <%= will_paginate @restaurants, class: "digg_pagination pagination justify-content-center", previous_label: "<", next_label: ">"%>
<%end%>

<% if @option == "opcion_siete" %>
<script type="text/javascript">
    var locations = [
        ['Restaurante Gaeta y 19 mas', 10.3870529,-66.9650207, 10],
    ];

    var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 10,
        center: new google.maps.LatLng(10.3870529, -66.9650207),
        mapTypeId: google.maps.MapTypeId.ROADMAP
    });

    var infowindow = new google.maps.InfoWindow();
    var marker, i;

    for (i = 0; i < locations.length; i++) {  
        marker = new google.maps.Marker({
        position: new google.maps.LatLng(locations[i][1], locations[i][2]),
        map: map
    });

    google.maps.event.addListener(marker, 'click', (function(marker, i) {
    return function() {
        infowindow.setContent(locations[i][0]);
        infowindow.open(map, marker);
    }
     })(marker, i));
    }
</script>
<div class="col">
    <div id = "products">
        <%=render 'lista'%></div>
    </div>
 </div>
 <%= will_paginate @restaurants, class: "digg_pagination pagination justify-content-center", previous_label: "<", next_label: ">"%>
<%end%>

<% if @option == "opcion_diez" %>
<script type="text/javascript">
    var locations = [
        ['Restaurante Gaeta y 19 mas', 10.3870529,-66.9650207, 10],
    ];

    var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 10,
        center: new google.maps.LatLng(10.3870529, -66.9650207),
        mapTypeId: google.maps.MapTypeId.ROADMAP
    });

    var infowindow = new google.maps.InfoWindow();
    var marker, i;

    for (i = 0; i < locations.length; i++) {  
        marker = new google.maps.Marker({
        position: new google.maps.LatLng(locations[i][1], locations[i][2]),
        map: map
    });

    google.maps.event.addListener(marker, 'click', (function(marker, i) {
    return function() {
        infowindow.setContent(locations[i][0]);
        infowindow.open(map, marker);
    }
     })(marker, i));
    }
</script>

<div class="col">
    <div id = "products">
        <%=render 'lista'%></div>
    </div>
 </div>
 <%= will_paginate @restaurants, class: "digg_pagination pagination justify-content-center", previous_label: "<", next_label: ">"%>
<%end%>

</div>
    
</section >
</div>