<%if @restaurant_info.any?%>
<div role="main" class="main">
	<section class="page-header page-header-modern page-header-background page-header-background-sm" style="background-image: url(https://live.staticflickr.com/65535/49191282078_c31260383e_k.jpg)">
					<div class="container">
						<div class="row my-4">
							<div class="col-md-12 align-self-center p-static order-2 text-center">
								<h1 class="text-14 py-3 mb-3 text-color-light"><strong> <%= @restaurant_info[0].name %> </strong></h1>
							</div>
						</div>
					</div>
				</section>
				<section class="pt-5">
					<div class="container">
						<div class="row">
							<div class="col-lg-12 text-center">
								<h1 class="mt-4 mb-2">Acerca del <strong>Restaurant</strong></h1>
								<h5 class="text-3"> <%= @restaurant_info[0].description%></h5>
                                <h5 class="text-3" style="margin: 0 0 0px;"><b>Dirección:</b> <%=@restaurant_info[0].address%></h5>
                                <h5 class="text-3" style="margin: 0 0 0px;"><b>Horario:</b> <%=@restaurant_info[0].hora_ap.to_i %> hs - <%=@restaurant_info[0].hora_cerr.to_i %> hs</h5>
                                <h5 class="text-3" style="margin: 0 0 0px;"> <b>Capacidad:</b> <%= @restaurant_info[0].capacity%></h5>
								<hr class="custom-divider">
							</div>
						</div>
						<div class="row mt-4">
							<div class="col-6">
								<% if @opinion_summarized.any? %>
									<%@opinion_summarized.each do |x| %>   
        								<div class="container-fluid" style="text-center; margin: 1em auto 3em;">
            								<div class="row">
                								<div class="col-xs-12 col-md-3">
                    								<div class="col-md-auto">
                         								<h3 style="font-size:30px" class="mb-4">Cocina:<span class="float-right"><%= x.cocina %>/5</span></h3>
                            								 <div class="progress mb-2" style="height: 7px;">
                                 								<div class="progress-bar-warning"
                                  								role="progressbar" aria-valuenow="4" aria-valuemin="0" aria-valuemax="5"
                                   								style="width: <%= x.cocina * 20 %>%">
                                 								</div>
                             								</div>
                    								</div>
                									</br>                      
                									<div class="col-md-auto">
                    									<h3 style="font-size:30px;" class="mb-4 ">Servicio:<span class="float-right"><%= x.servicio %>/5</span></h3>
                        									<div class="progress mb-2" style="height: 7px;">
                            									<div class="progress-bar-warning"
                              									role="progressbar" aria-valuenow="4" aria-valuemin="0" aria-valuemax="5"
                               									style="width: <%= x.servicio * 20 %>%">
                         									</div>
                    									</div>
														</div>
														</br>       
                										<div class="col-md-auto">
                    										<h3 style="font-size:30px;" class="mb-4">Ambiente:<span class="float-right"><%= x.ambiente %>/5</span></h3>
                    										<div class="progress mb-2" style="height: 7px;">
                        										<div class="progress-bar-warning"
                             										role="progressbar" aria-valuenow="4" aria-valuemin="0" aria-valuemax="5"
                             										style="width: <%= x.ambiente * 20 %>%">
                        										</div>
                    										</div>
                										</div>
            
            										</div>
                  
             										<div class="col-xs-12 col-md-3 text-center">
                     									<h3> Calificación total</h3>
                     									<h1 class="rating-num"><%= x.calificacion %> /5 </h1>
             											<div>
                     										<span class="fa fa-user"></span> <%= x.total_votos %> Votos 
               											</div>
            										</div>
            </div>
         </div>
        </div>
		<div class="col-6">
			<div class="container">
				<%= simple_form_for :reservation, url: reservation_create_path(restID: @restaurant_info[0].id), remote: true, method: "POST", html: { class: 'form-group' } do |f| %>
														
					<%= f.input :fecha,
						placeholder: "YYYY/MM/DD",
						as: :date,
						label: "Fecha de reserva",
						:input_html => { :class => 'datepicker' } 
						
						%>
					<%= f.input :hora,
						as: :time,
						label: 'Hora de la reserva',
						placeholder: 'hh:mm'
					%>							
					<%= f.input :personas, 
						placeholder: "Número de personas",
						label: "Personas",
                		collection: 1..@restaurant_info[0].capacity
					%>
					<%= f.input :promo, 
						as: :select,
						label: 'Promo(s) disponible(s)'
						
					%>
					<%= f.submit "Reservar", class: "btn btn-primary" %>

				<% end %>

				<input type="button" name="invitar amigo" value="invitar amigo "class="btn btn-primary"  style="display: inline;" onclick="showDiv1()" />
																		
														<div style="display:none;" id="mailForm">
															

															
															<%= simple_form_for :invitation , url:inviteF_path(restID:@restaurant_info[0].id ),remote: true, method: "POST", data: { type: "json" },html: { class: 'form-inline' ,id:"newInvite"} do |x| %>
															    
																
																<%= x.input :email, 
																			placeholder: "amigo@example.com",
																			label: "Invitar amigo"%>
																			
																	  
															    <%= x.submit "invitar", class: "btn btn-primary"%>
															  
																
																
															<% end %>
														</div>


			</div>
		</div>
     </div>
    </div>
							<style>
        						.rating-num {
            						margin-top:0px;
            						font-size: 60px;
        						}

							</style>
							<% end %>

								<%else %>
   
   									
       									<h1 style="text-align:center; margin:2em auto 3em;"> <%= flash[:error_o] %> </h1>
   									

									<% end %>

							</div>
						</div>
					</div>
				</section>
				<% if @menu.empty? %>
					<section class="section section-default">
						<div class="container">
							<h1 class="text-center orange" style ="color: #e09b23"><%=flash[:warning]%></h1>
						</div>
				    </section>
				<% else %>
					<section class="section section-default">
						<div class="container">
							<div class="row">
								<div class="col">
									
									<div class="tabs tabs-bottom tabs-center tabs-simple">
										<ul class="nav nav-tabs">
											<li class="nav-item active">
												
												<h2>Menu</h2>
											</li>
										</ul>
										<div class="tab-content">
											<div class="tab-pane active" id="tabsNavigationSimple1">
												
												<div class="row">
												<% @menu.each do |m|%>
													<div class="col-lg-4">
														<div class="menu-item">
															<span class="menu-item-price">$<%= m.price%></span>
															<h3><%= m.plate_name%></h4>
															<h5><%= m.name%></h5>
															<p><%= m.description%></p>
														</div>
													</div>
												<%end%>	
												</div>

											</div>
										</div>
									</div>
	
								</div>
							</div>
						</div>
				</section>
				<% end %>
				
				<!--<section class="pt-3 pb-3">
					<div class="container">
						<div class="row mb-5">
							<div class="col-lg-12 text-center">
								<h3 class="mt-4 mb-2"> <strong>Fotos del restaurant</strong></h3>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eu pulvinar magna.<br>Lorem ipsum dolor sit amet, consectetur adipiscing elit...</p>

								<hr class="custom-divider">

								<div class="lightbox" data-plugin-options="{'delegate': 'a', 'type': 'image', 'gallery': {'enabled': true}}">
									<div class="masonry-loader masonry-loader-showing">
										<div class="masonry" data-plugin-masonry data-plugin-options="{'itemSelector': '.masonry-item'}">
											<div class="masonry-item">
												<span class="thumb-info thumb-info-centered-icons thumb-info-no-borders">
													<span class="thumb-info-wrapper">
														<img src="img/demos/restaurant/gallery/restaurant-gallery-1.jpg" class="img-fluid" alt="">
														<span class="thumb-info-action thumb-info-action-custom">
															<a href="img/demos/restaurant/gallery/restaurant-gallery-1.jpg">
																<span class="thumb-info-icon-custom"></span>
															</a>
														</span>
													</span>
												</span>
											</div>
											<div class="masonry-item w2">
												<span class="thumb-info thumb-info-centered-icons thumb-info-no-borders">
													<span class="thumb-info-wrapper">
														<img src="img/demos/restaurant/gallery/restaurant-gallery-2.jpg" class="img-fluid" alt="">
														<span class="thumb-info-action thumb-info-action-custom">
															<a href="img/demos/restaurant/gallery/restaurant-gallery-2.jpg">
																<span class="thumb-info-icon-custom"></span>
															</a>
														</span>
													</span>
												</span>
											</div>
											<div class="masonry-item">
												<span class="thumb-info thumb-info-centered-icons thumb-info-no-borders">
													<span class="thumb-info-wrapper">
														<img src="img/demos/restaurant/gallery/restaurant-gallery-4.jpg" class="img-fluid" alt="">
														<span class="thumb-info-action thumb-info-action-custom">
															<a href="img/demos/restaurant/gallery/restaurant-gallery-4.jpg">
																<span class="thumb-info-icon-custom"></span>
															</a>
														</span>
													</span>
												</span>
											</div>
											<div class="masonry-item">
												<span class="thumb-info thumb-info-centered-icons thumb-info-no-borders">
													<span class="thumb-info-wrapper">
														<img src="img/demos/restaurant/gallery/restaurant-gallery-3.jpg" class="img-fluid" alt="">
														<span class="thumb-info-action thumb-info-action-custom">
															<a href="img/demos/restaurant/gallery/restaurant-gallery-3.jpg">
																<span class="thumb-info-icon-custom"></span>
															</a>
														</span>
													</span>
												</span>
											</div>
											<div class="masonry-item">
												<span class="thumb-info thumb-info-centered-icons thumb-info-no-borders">
													<span class="thumb-info-wrapper">
														<img src="img/demos/restaurant/gallery/restaurant-gallery-5.jpg" class="img-fluid" alt="">
														<span class="thumb-info-action thumb-info-action-custom">
															<a href="img/demos/restaurant/gallery/restaurant-gallery-5.jpg">
																<span class="thumb-info-icon-custom"></span>
															</a>
														</span>
													</span>
												</span>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>--->
                
				
				<div class="container-fluid">
					<div class="row mt-5">

						<div class="col-lg-6 p-0">
							<section class="section section-quaternary section-no-border h-100 mt-0">
								<div class="row justify-content-end">
									<div class="col-half-section col-half-section-right">
										<div class="text-center" style="margin-top: 10em; margin-right: 19em;">
											<h4 class="mb-0 heading-dark" ><strong><%= link_to "Opiniones de los usuarios", my_link_path(:restaurantID => @restaurantID)%></strong></h4>
											<p class="mb-1">¡Conoce la opinion de otros usuarios acerca de este restaurant! </p>

											<hr class="custom-divider m-0">
										</div>

									</div>
								</div>
							</section>
						</div>

						<div class="col-lg-6 p-0">
							<section class="section section-tertiary section-no-border h-100 mt-0">
								<div class="row">
									<div class="col-half-section">
										<div class="text-center">
											<h4 class="mt-3 mb-0 heading-dark" style="margin-left: 8em"><strong>Nuestra ubicación</strong></h4>
											<hr class="custom-divider m-0">
										</div>
										<div class="card-box">
											<iframe class="iframe" style="margin-left: 14em;" src="https://maps.google.com/maps?q=<%= @restaurant_info[0].map_location %>&z=14&t=m&output=embed&z=16" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
										</div> 
									</div>
								</div>
							</section>
						</div>

					</div>
				</div>
			</div>

<%else%>
	<div class="content">             
        <div class="text-center" style="margin-top: 20em">
            <i class="h1 far fa-frown text-muted"></i> <i class=""></i>
            <h1 class="mb-3 orange" style ="color: #e09b23"><%=flash[:error]%></h1>
        </div>
    </div>
<%end%>

<script>

function showDiv1(){
	if (document.getElementById('mailForm').style.display == 'none'){
		document.getElementById('mailForm').style.display = 'block';
	}
	else {
		document.getElementById('mailForm').style.display = 'none';
	}
	
}


	// select first dropdown
const fecha1 = document.getElementById("reservation_fecha_1i");
const fecha3 = document.getElementById("reservation_fecha_3i");
const fecha2 = document.getElementById("reservation_fecha_2i");

// select second dropdown
const promoSelect = document.getElementById("reservation_promo");

function filterByDate(arr, date_1){
	var returnedArray = new Array();
	for (let index = 0; index < arr.length; index++) {
		console.log(arr[index].final_date) 
		if(arr[index].final_date.split('T')[0] == date_1){
			returnedArray.push(arr[index]);

		}
		
	}
	return returnedArray;
}

function update_promos(dateToCompare) {
	
 const url = '/api/v1/reserva/<%= @restaurant_info[0].id%>';
 fetch(url)
 .then(response => response.json())
 .then((data) => {
  promoSelect.innerHTML = ""; // clear second dropdown
	date_1 = dateToCompare.toISOString().split('T')[0]
	data = data.diasconpromos;
	diasValidos = filterByDate(data, date_1)
	console.log(diasValidos);
  diasValidos.forEach((dv) => { 
	  console.log(dv)// go through all the BAPs
  const elem = `<option value="${dv.id}">${dv.promo_type}</option>`; // create option elements to insert into the second dropdown, bank_name is the chosen label method in the form
  promoSelect.insertAdjacentHTML("beforeend", elem); // insert options into the dropdown
  });
 });
}
fecha1.addEventListener('change', function () {
	const anio = parseInt(document.getElementById("reservation_fecha_1i").value);
	const mes = parseInt(document.getElementById("reservation_fecha_2i").value);
	const dia = parseInt(document.getElementById("reservation_fecha_3i").value);
	console.log(mes);
 update_promos(new Date(anio,mes-1,dia,0,0,0,0));
});
fecha2.addEventListener('change', function () {
	const anio = parseInt(document.getElementById("reservation_fecha_1i").value);
	const mes = parseInt(document.getElementById("reservation_fecha_2i").value);
	const dia = parseInt(document.getElementById("reservation_fecha_3i").value);
	console.log(mes);
 update_promos(new Date(anio,mes-1,dia,0,0,0,0));
});
fecha3.addEventListener('change', function () {
	const anio = parseInt(document.getElementById("reservation_fecha_1i").value);
	const mes = parseInt(document.getElementById("reservation_fecha_2i").value);
	const dia = parseInt(document.getElementById("reservation_fecha_3i").value);
	console.log(mes);
 update_promos(new Date(anio,mes-1,dia,0,0,0,0));
});
</script>