<h1 class="twinkling-two text-center top">Restaurantes no aprobados</h1>
<% if @restaurants.count == 0 %>
  No hay restaurantes por aprobar
<%else%>
<h4 style="margin-left: 5%"><b>Nombre</b></h4>
<% end %>
   <%= render @restaurants %> 
<br>
