

abbr[title="required"] {
    display: none;
  }
.flash.alert:empty {
    display: none;
}

.select{
	background-color: #344257;
	border-color: #344257;
	color: white;
} 

.table-dark{
	background-color:  #344257 !important;
}

.custom_margin{
  margin-left: 20% !important;
}

.twinkling{
  animation: twink 1.5s infinite;
  animation-fill-mode: both;
  animation-direction: alternate;
}

@keyframes twink {
  from{color: #222d32;}
  to{color: lime;}
}

.twinkling-two{
  animation: twink-two 1.5s infinite;
  animation-fill-mode: both;
  animation-direction: alternate;
}

@keyframes twink-two{
  from{color: #222d32;}
  to{color: red;}
}
.collapsible {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
  background-color: #ccc;
}

.tbody{
	border: 1px solid black;
}

.thead-dark{
	border: 1px solid black;
}
/* Style the collapsible content. Note: hidden by default */
.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}

.twinkling-three{
  animation: twink-three 1.5s infinite;
  animation-fill-mode: both;
  animation-direction: alternate;
}

@keyframes twink-three{
  from{color: #222d32;}
  to{color: #3c8dbc;;}
}

.float-right {
  float: right;
  margin-right: 1%;
}

.custom-letra{
  font-size: 23px;
  font-weight: bold;
  color: black;
  margin-left: 3%
}
.custom-letra-two{
  font-size: 23px;
  font-weight: bold;
  color: white;
  float: right;
  margin-right: 5%
}

.div-dark{
  background-color: #ecf0f5;
  margin-top: 1%;
  border: 1px solid #ccc !important;
}

.row{
  height: auto;
  cursor: pointer;
}

.left{
  float: right;
  margin-right: 5%
}

// cards

.card {
	position: relative;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: column;
	flex-direction: column;
	min-width: 0;
	word-wrap: break-word;
	background-color: #fff;
	background-clip: border-box;
	border: 1px solid rgba(0, 0, 0, 0.125);
	border-radius: 0.25rem;
}

.card > hr {
	margin-right: 0;
	margin-left: 0;
}

.card > .list-group:first-child .list-group-item:first-child {
	border-top-left-radius: 0.25rem;
	border-top-right-radius: 0.25rem;
}

.card > .list-group:last-child .list-group-item:last-child {
	border-bottom-right-radius: 0.25rem;
	border-bottom-left-radius: 0.25rem;
}

.card-body {
	-ms-flex: 1 1 auto;
	flex: 1 1 auto;
	padding: 1.25rem;
}

.card-title {
	margin-bottom: 0.75rem;
}

.card-subtitle {
	margin-top: -0.375rem;
	margin-bottom: 0;
}

.card-text:last-child {
	margin-bottom: 0;
}

.card-link:hover {
	text-decoration: none;
}

.card-link + .card-link {
	margin-left: 1.25rem;
}

.card-header {
	padding: 0.75rem 1.25rem;
	margin-bottom: 0;
	background-color: rgba(0, 0, 0, 0.03);
	border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.card-header:first-child {
	border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
}

.card-header + .list-group .list-group-item:first-child {
	border-top: 0;
}

.card-footer {
	padding: 0.75rem 1.25rem;
	background-color: rgba(0, 0, 0, 0.03);
	border-top: 1px solid rgba(0, 0, 0, 0.125);
}

.card-footer:last-child {
	border-radius: 0 0 calc(0.25rem - 1px) calc(0.25rem - 1px);
}

.card-header-tabs {
	margin-right: -0.625rem;
	margin-bottom: -0.75rem;
	margin-left: -0.625rem;
	border-bottom: 0;
}

.card-header-pills {
	margin-right: -0.625rem;
	margin-left: -0.625rem;
}

.card-img-overlay {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	padding: 1.25rem;
}

.card-img {
  height: 200px;
	width: 200px;
  border-radius: calc(0.25rem - 1px);
  margin-top: 15%
}

.card-img-top {
	width: 100%;
	border-top-left-radius: calc(0.25rem - 1px);
	border-top-right-radius: calc(0.25rem - 1px);
}

.card-img-bottom {
	width: 100%;
	border-bottom-right-radius: calc(0.25rem - 1px);
	border-bottom-left-radius: calc(0.25rem - 1px);
}

.card-deck {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: column;
	flex-direction: column;
}

.card-deck .card {
	margin-bottom: 15px;
}

@media (min-width: 576px) {
	.card-deck {
		-ms-flex-flow: row wrap;
		flex-flow: row wrap;
		margin-right: -15px;
		margin-left: -15px;
	}
	.card-deck .card {
		display: -ms-flexbox;
		display: flex;
		-ms-flex: 1 0 0%;
		flex: 1 0 0%;
		-ms-flex-direction: column;
		flex-direction: column;
		margin-right: 15px;
		margin-bottom: 0;
		margin-left: 15px;
	}
}

.card-group {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: column;
	flex-direction: column;
}

.card-group > .card {
	margin-bottom: 15px;
}

@media (min-width: 576px) {
	.card-group {
		-ms-flex-flow: row wrap;
		flex-flow: row wrap;
	}
	.card-group > .card {
		-ms-flex: 1 0 0%;
		flex: 1 0 0%;
		margin-bottom: 0;
	}
	.card-group > .card + .card {
		margin-left: 0;
		border-left: 0;
	}
	.card-group > .card:not(:last-child) {
		border-top-right-radius: 0;
		border-bottom-right-radius: 0;
	}
	.card-group > .card:not(:last-child) .card-img-top,
	.card-group > .card:not(:last-child) .card-header {
		border-top-right-radius: 0;
	}
	.card-group > .card:not(:last-child) .card-img-bottom,
	.card-group > .card:not(:last-child) .card-footer {
		border-bottom-right-radius: 0;
	}
	.card-group > .card:not(:first-child) {
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;
	}
	.card-group > .card:not(:first-child) .card-img-top,
	.card-group > .card:not(:first-child) .card-header {
		border-top-left-radius: 0;
	}
	.card-group > .card:not(:first-child) .card-img-bottom,
	.card-group > .card:not(:first-child) .card-footer {
		border-bottom-left-radius: 0;
	}
}

.card-columns .card {
	margin-bottom: 0.75rem;
}

@media (min-width: 576px) {
	.card-columns {
		-webkit-column-count: 3;
		-moz-column-count: 3;
		column-count: 3;
		-webkit-column-gap: 1.25rem;
		-moz-column-gap: 1.25rem;
		column-gap: 1.25rem;
		orphans: 1;
		widows: 1;
	}
	.card-columns .card {
		display: inline-block;
		width: 100%;
	}
}

.sticky {
	position: fixed !important;
	background-color: white;
	top: 0;
	margin-right: 0;
	width: 100% !important;
  }

  .equipo1-size{ 
	  font-size: 16px;
  }

  .equipo1{
	  background-color: white !important;
	  border-radius: 25px;
	  border:1px solid black;
	  }
  
  .equipo1-other {
  	background-color: white !important;
  	border-radius: 10px;
  	border-color: black;
  	border-bottom-style: solid;
  	border-top-style: solid;
  }
  .equipo1-custom{
	  background-color: #344257;
	  border-radius: 25px;
  }
  #login{
	  background-image: url('https://live.staticflickr.com/65535/49191761371_71a04c25db_b.jpg');
	  background-repeat: no-repeat;
	  background-size: cover;
  }
  
  #register{
	  background-image: url('https://live.staticflickr.com/65535/49230702083_171a53d285_b.jpg');
	  background-repeat: no-repeat;
      background-size: cover;
  }
  #register_rest{
	  background-image: url('https://live.staticflickr.com/65535/49147091001_244735c640_o.jpg');
	  background-repeat: no-repeat;
	  background-size: cover;
  }
  .top{
	  margin-top: 0px;
  }
  
  // EQUIPO 3 SCSS ###################################################################
  .google-button {
	height: 40px;
	border-width: 0;
	background: white;
	color: #737373;
	border-radius: 5px;
	white-space: nowrap;
	box-shadow: 1px 1px 0px 1px rgba(0,0,0,0.05);
	transition-property: background-color, box-shadow;
	transition-duration: 150ms;
	transition-timing-function: ease-in-out;
	padding: 0;
	
	&:focus,
	&:hover {
	  box-shadow: 1px 4px 5px 1px rgba(0,0,0,0.1);
	  cursor: pointer;
	}
	
	&:active {
	  background-color: #e5e5e5;
	  box-shadow: none;
	  transition-duration: 10ms;
	}
  }
	  
  .google-button__icon {
	display: inline-block;
	vertical-align: middle;
	margin: 8px 0 8px 8px;
	width: 18px;
	height: 18px;
	box-sizing: border-box;
  }
  
  
  
  .google-button__text {
	display: inline-block;
	vertical-align: middle;
	padding: 0 24px;
	font-size: 14px;
	font-weight: bold;
	font-family: 'Roboto',arial,sans-serif;
  }


  .parallax-settings-guia {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding:15px;
  }


  .parallax-bg-guia {
    background-image: url("https://live.staticflickr.com/65535/49336790021_f1bcfa0286_b.jpg");
    height: 500px;
  }


  .parallax-bg-contenedor {
    background-image: url("https://live.staticflickr.com/65535/49392607192_7c449cf877_b.jpg");
	height: 700px;
	color: white;
	font-size: 14px;
	font-family: Arial, Helvetica, sans-serif;
  }
  